.form-fields{
  display: flex;
  justify-content: left;
  margin: 5px 5px 5px 5px;
}

.form-input{
  align-self: center;
  margin-left: 10px;
  height: 20px;
}

.password-strength-bar{
  width: 300px;
}